{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "version": "detect"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-cond-assign": [ 0 ],
    "semi": [1, "always"],
    "comma-dangle": [1, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline"
    }],
    "keyword-spacing": ["error"],
    "array-bracket-spacing": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "no-console": [2, { "allow": [ "error", "warn" ] }],
    "object-curly-spacing": ["error", "always", {
      "arraysInObjects": true,
      "objectsInObjects": true
    }],
    "@typescript-eslint/indent": ["error", 2]
  }
}
